<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First Suite" parallel="classes">
    <test name="Chrome Test" parallel="classes">
        <classes>
            <class name ="RunCucumberTest"></class>
        </classes>
    </test>
</suite>